<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Cadastro de Reserva</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="reservaForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(formDirective)"
    >
      <mat-form-field class="form">
        <mat-label for="documento">Documento do Cliente</mat-label>
        <input
          matInput
          id="documento"
          type="text"
          formControlName="documentoHospede"
          placeholder="xxx.xxx.xxx-xx"
          mask="000.000.000-00"
          [dropSpecialCharacters]="false"
        />
        <mat-error *ngIf="getDocumentoHospede?.errors?.['required']">
          É necessário informar um CPF.
        </mat-error>
        <mat-error *ngIf="getDocumentoHospede?.errors?.['cpfInvalido']">
          Insira um CPF válido.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Número do Quarto</mat-label>
        <mat-select formControlName="numeroQuarto" name="numeroQuarto">
          @for(numero of numeroDeQuartos; track numero){
          <mat-option value="{{ numero }}">{{ numero }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Selecione as Datas de Entrada e Saida</mat-label>
        <mat-date-range-input
          [formGroup]="getDataEntradaSaida"
          [rangePicker]="picker"
        >
          <input
            matStartDate
            formControlName="dataEntrada"
            placeholder="Entrada"
          />
          <input matEndDate formControlName="dataSaida" placeholder="Saida" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-checkbox formControlName="necessitaEstacionamento"
        >Necessita Estacionamento</mat-checkbox
      >

      <mat-card-footer>
        <button mat-flat-button color="primary">Enviar</button>
        <a routerLink="/listaReservas" mat-flat-button color="primary"
          >Ver Reservas</a
        >
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>
