mat-card {
  margin: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 0 auto;
}

mat-form-field {
  margin-top: 15px;
  width: 100%;
  max-width: 500px;
}

mat-card-footer{
  display: flex;
  justify-content: flex-start;
}

/*
Referência muito boa:
https://itnext.io/angular-material-handle-many-mat-error-s-in-the-same-mat-form-field-6234235cf365
*/
mat-form-field {
  mat-error {
      display: none !important;
  }

  mat-error:first-child {
      display: block !important;
  }
}
