<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Cadastro de Hospede</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="hospedeForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(formDirective)"
    >
      <mat-form-field class="form">
        <mat-label for="nome">Pessoa</mat-label>
        <input matInput id="nome" type="text" formControlName="nome" />
        <mat-error *ngIf="nome?.errors?.['required']">
          É necessário informar um nome.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label for="documento">Documento</mat-label>
        <input
          matInput
          id="documento"
          type="text"
          formControlName="documento"
          placeholder="xxx.xxx.xxx-xx"
          mask="000.000.000-00"
          [dropSpecialCharacters]="false"
        />
        <mat-error
          *ngIf="documento?.errors?.['serverError']"
          >{{documento?.errors?.['serverError']}}</mat-error
        >
        <mat-error *ngIf="documento?.errors?.['required']">
          É necessário informar um CPF.
        </mat-error>
        <mat-error *ngIf="documento?.errors?.['cpfInvalido']">
          Insira um CPF válido.
        </mat-error>
        <mat-hint>Apenas CPF</mat-hint>
        <mat-error *ngIf="documento?.errors?.['requiredMask']">
          Insira um Telefone valido.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label for="telefone">Telefone</mat-label>
        <input
          matInput
          id="telefone"
          type="text"
          formControlName="telefone"
          placeholder="(xx) xxxxxx-xxxx"
          mask="(00) 00000-0000 || (00) 0000-0000"
          [dropSpecialCharacters]="false"
        />
        <mat-error *ngIf="telefone?.errors?.['required']">
          É necessário informar um telefone.
        </mat-error>
      </mat-form-field>

      <mat-card-footer>
        <button mat-flat-button color="primary">Enviar</button>
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>
